name: Release Builds

on:
  release:
    types: [ created ]

jobs:
  build:
    runs-on: ubuntu-latest
    env: 
      NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - uses: pnpm/action-setup@v2
        with:
          version: 8.6.6
      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18
          check-latest: true
      - name: Install Node modules
        run: pnpm i
      - name: Get name and version from package.json
        run: |
          test -n $(node -p -e "require('./package.json').name") &&
          test -n $(node -p -e "require('./package.json').version") &&
          echo PACKAGE_NAME=$(node -p -e "require('./package.json').name") >> $GITHUB_ENV &&
          echo PACKAGE_VERSION=$(node -p -e "require('./package.json').version") >> $GITHUB_ENV || exit 1
      - name: Make build
        run: pnpm run build
      - name: Upload release
        uses: actions/upload-release-asset@v1
        with:
          upload_url: ${{ github.event.release.upload_url }}
          asset_name: ${{env.PACKAGE_NAME}}-${{env.PACKAGE_VERSION}}.min.js
          asset_path: ./build/dist/nbbc.js
          asset_content_type: application/javascript
      - run: pnpm publish --access public --no-git-checks